
{{!-- 
{{#each this}}
<li class="movie-item">
<a href="#" class="movie-link">
        {{#if poster_path}}
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt={{title}} srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}} 2x" class="movie-img" >
{{else}}
        <img src="https://papik.pro/uploads/posts/2021-12/thumbs/1639516371_5-papik-pro-p-kinolenta-risunok-5.png">
{{/if}}
        <p class="movie-name">{{title}}</p>
        <div style="display: flex; align-items: baseline; justify-content: space-around;">
        <div style="color: red; display: flex;">
        <p class="genre"  data-genres={{genre_ids.[0]}}>
        <span >{{i.name}}</span>
        </p>
        <p class="genre"  data-genres={{genre_ids.[1]}}>
        <span >{{i.name}}</span>
        </p>
        </div>
        <p>
        <span style="margin-left: 0; color: red;">{{release_date.[0]}}{{release_date.[1]}}{{release_date.[2]}}{{release_date.[3]}}</span>
        </p>
        </div>
</a>
</li>
{{/each}}
 --}}



{{!-- код с скроллом ниже --}}



{{!-- {{#each this}}
<li class="movie-item">
<a href="#" class="movie-link">
        {{#if poster_path}}
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt={{title}} srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}} 2x" class="movie-img" >
{{else}}
        <img src="https://papik.pro/uploads/posts/2021-12/thumbs/1639516371_5-papik-pro-p-kinolenta-risunok-5.png">
{{/if}}
        <p class="movie-name">{{title}}</p>
        <div style="display: flex; align-items: baseline; justify-content: flex-start;">
        <div style="color: red; display: flex; align-items: baseline;">
        <p class="genre">{{genres}}</p>
          <span style="margin-right: 8px;">|</span>
        </div>
        <p>
        <span style="margin-left: 0; color: red;">{{release_date.[0]}}{{release_date.[1]}}{{release_date.[2]}}{{release_date.[3]}}</span>
        </p>
        </div>
</a>
</li>
{{/each}} --}}


{{#each this}}
<li class="movie-item" id="{{id}}">
        {{!-- добавляет id каждого фильма  id--}}
        {{!-- атрибут onclick="return false" убирает передергивание страницы --}}
        <a href="#" class="movie-link" id="{{id}}" onclick="return false">
        {{#if poster_path}}
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}" srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}} 2x" class="movie-img" >
{{else}}
        <img src="https://papik.pro/uploads/posts/2021-12/thumbs/1639516371_5-papik-pro-p-kinolenta-risunok-5.png" class="movie-img"> 
{{/if}}
<div class="movie-link__content" style="padding-top: 10px; max-width: 398px; display: flex;align-items: flex-start;    flex-direction: column;">
        <p class="movie-name">{{title}}</p>
        <div class="movie-item__genre" style="display: flex; align-items: baseline;">
        <p class="genre">{{genres}}</p>
{{#if genres}}
        <span class="movie-item__slash">|</span>
{{else}}
        <span class="movie-item__slash-zero" style="margin-left: 0px;"></span>
{{/if}}
        <p style="margin-top: 0;">
        <span class="movie-item__year">{{release_date.[0]}}{{release_date.[1]}}{{release_date.[2]}}{{release_date.[3]}}</span>
        {{!-- можно скрыть --}}
        <span class="movie-item__vote-average js-visually-hidden">{{vote_average}}</span>
        </p>
        </div>
</div>

</a> 
</li>
{{/each}}
